USE [master]
GO
/****** Object:  Database [Aero]    Script Date: 2019-07-25 1:28:27 AM ******/
CREATE DATABASE [Aero]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Aero', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Aero.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Aero_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Aero_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Aero].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Aero]
GO
/****** Object:  Table [dbo].[BusinessEntities]    Script Date: 2019-07-25 1:28:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BusinessEntities](
	[BusinessId] [bigint] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Email] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Street] [nvarchar](max) NULL,
	[City] [nvarchar](150) NULL,
	[State] [nvarchar](150) NULL,
	[Zip] [nvarchar](50) NULL,
	[Country] [nvarchar](150) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[ContactPerson] [nvarchar](max) NULL,
	[ReferredBy] [nvarchar](50) NULL,
	[Logo] [nvarchar](max) NULL,
	[Status] [int] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
	[LoginUrl] [nvarchar](50) NULL,
	[SecurityCode] [nvarchar](50) NULL,
	[SMTPServer] [nvarchar](50) NULL,
	[SMTPPort] [int] NOT NULL,
	[SMTPUsername] [nvarchar](50) NULL,
	[SMTPPassword] [nvarchar](50) NULL,
	[Deleted] [bit] NOT NULL,
	[CreatedOnUtc] [datetime] NULL,
	[UpdatedOnUtc] [datetime] NULL,
	[CurrentBalance] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_dbo.BusinessEntities] PRIMARY KEY CLUSTERED 
(
	[BusinessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
